/* Remove Browser Presets */
* {
  margin: 0;
  padding: 0;
}

/********************************************* 
                
                    NAVBAR 

 *********************************************/

nav {
  background-color: #c12127;

  /* Colors text in nav white */
  color: rgba(255, 255, 255, 0.8);

  /* 15px of space top and below elements in navbar to
     center them*/
  padding: 10px 0;
}

nav a {
  /* colors link texts in nav white */
  color: rgba(255, 255, 255, 0.8);

  /* Remove underline of links */
  text-decoration: none;
}

/* List of links in nav */
.top-links {
  /* Make the list of links an inline element that we can 
     have it on the same line as emojis line */
  display: inline-block;

  /* Float list to right of container */
  float: right;
}

.top-links li {
  /* Make list items horizontal of each other */
  display: inline-block;

  padding: 0 10px;
  margin: 0 10px;
}
/********************************************* 
                
                    NAVBAR 

 *********************************************/

/********************************************* 
                
                   HEADER

 *********************************************/
header {
  background-color: rgb(32, 101, 136);
  /* border: 2px solid blue; */
}

.search-and-sign-container {
  /* border: 3px solid green; */

  padding: 15px 0 0 0;

  /* Why does float left for ul not work unless this is active? */
  /* Allows container to grow as content is added to it! */
  overflow: hidden;
}

.npm-logo {
  /* Logo Dimensions */
  height: 50px;
  width: 120px;

  /* Move to left of container */
  float: left;
}

.search-bar {
  /* Customize Search bar */
  height: 34px;
  width: 79%;

  background-color: rgb(31, 82, 111);
  border: none;

  /* Move to left of container */
  float: left;

  /* Make space on sides */
  margin: 0 10px;
}

.search-and-sign-container ul {
  /* Allow list to be on same line as other content */
  display: inline-block;

  /* Move to right of container */
  float: right;

  /* border: 4px solid blue; */
}

.search-and-sign-container ul li {
  /* Make list (sign/log and bear logo) horizontal */
  display: inline-block;

  float: left;
}

.search-and-sign-container ul li a {
  /* Make list (sign/log and bear logo) horizontal */
  display: inline-block;
  /* Space around link to make it feel like button */
  padding: 10px;

  color: white;
  text-decoration: none;
}

.bear-logo {
  /* Logo Dimensions */
  height: 40px;
  width: 50px;
  /* float: left; */
}

/********************************************* 
                
             Container in HEADER

 *********************************************/
.header-div-container {
  /* border: 5px solid black; */

  color: white;

  /* Make Div into smaller box */
  width: 50%;

  /* center the div in the middle of parent container 
     (header) */
  margin: 0 auto;

  padding: 18px;

  overflow: hidden;
}

.header-div-container h1 {
  margin-bottom: 10px;
}

#bearimg {
  float: right;
  height: 280px;
}

.header-div-container p {
  font-size: 30px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 24px 2px;
  cursor: pointer;

  border-radius: 30px;
}

/********************************************* 
                
                   HEADER

 *********************************************/

/********************************************* 
                
                   Section 1

 *********************************************/

.section-1 {
  background-color: rgb(39, 53, 71);
  padding:90px 0; 
}

.section-1-container {
  border: 3px solid purple;

  
  width: 80%;
  
  margin: 0 auto;
  padding-top: 30px;
  /* This allows container to grow with elements it contains */
  overflow: auto;
}

.section-1-container img {
  width: 580px;
  float: left;
}

.section-1-information {
  border: 2px solid green;
  
  display: inline-block;
  float: left;
  
  color: white;

  width: 40%;
  margin-left: 60px;


}

.section-1-information h1{
    font-size: 30px;
    width: 60%;
    margin: 30px 0;
}

.section-1-information ul{
  margin: 0 0 0 48px;
}

.section-1-information ul li{
  padding: 10px 0;
}

.button-orgs {
  background-color: rgb(203, 56, 55);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 14px 50px;

  float: left;
  border-radius: 30px;

  display: inline-block;
}

.the-div p {
  
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.the-div p a {
  
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.the-div {
  border: 3px solid black;

  /* Now button and about will be stacked due to width */
  width: 270px;
}